html, body, section {
    margin: 0;
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
}

#home {
	background-image: url(../img/home.png);
}

#weekend {
	background-image: url(../img/weekend.png);	
}

#eplanning {
	background-image: url(../img/player.png);
}

#weekend_video {
	background-image: url(../img/player.png);
}

#registration {
	background-image: url(../img/registration.png);
}

#export {
	background-image: url(../img/player.png);
}

#topics {
	background-image: url(../img/topics.png);
}

.btn {
	position: absolute;
	width: 18%;
	height: 25%;
	border-radius: 100px;
}

.bt_small {
	position: absolute;
	width: 10.7%;
	height: 15%;
	border-radius: 100px;
}

.bt_back {
	position: fixed;
	width: 10.7%;
	height: 13.5%;
	border-radius: 100px;
	top: 86.5%;
	right: 0.7%;
	z-index: 100;
}

.bt_option {
	position: absolute;
	width: 4.6%;
	height: 6.5%;
	border-radius: 100px;
}

.vd_wrapper {
	position: absolute;
	width: 100%;
	height: 75%;
	overflow: hidden;
}

.vd_wrapper iframe {
	width: 100%;
	height: 100%;
}

#bt_export {
	position: absolute;
	width: 5%;
	height: 5%;
	border-radius: 100px;
	top: 5%;
	right: 0;
}

#bt_website {
	top: 58%;
	left: 13.8%;
}

#bt_eplanning {
	top: 58%;
	left: 41.4%;
}

#bt_weekend {
	top: 58%;
	left: 70.7%;
}

#bt_help {
	top: 48%;
	right: 0.7%;
}

#bt_option1 {
	top: 47%;
	left: 18.7%;
}

#bt_option2 {
	top: 57.8%;
	left: 18.7%;
}

#bt_back_logo {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 13%;
	height: 15%;
	background-image: url(../img/back.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	z-index: 100;
}

#bt_ok {
	position: absolute;
	width: 7.5%;
	height: 10.5%;
	border-radius: 100px;
	top: 46%;
	right: 1.5%;
}

#bt_reset {
	background-color: red;
	color: white;
	margin-top: 20%;
}

#bt_password {
	height: 40px;
	width: 40px;
}

#in_password {
	height: 30px;
	width: 150px;
}

.input_row {
	position: absolute;
	width: 52.5%;
	height: 3.5%;
	left: 37.5%;
}

#input_name_row {
	top: 38%;
}

#input_email_row {
	top: 45.2%;
}

#input_position_row {
	top: 52.4%;
}

#input_country_row {
	top: 59.6%;
}

.form_input {
	height: 100%;
	width: 100%;
	border: 0;
	padding: 0;
	background: transparent;
	color: #000000;
	font-size: 19px;
}

#form_topics {
	position: absolute;
	left: 54.8%;
	top: 37%;
	width: 4%;
	height: 27%;
}

#form_topics input {
	width: 100%;
	height: 16.5%;
}

#form_password {
	position: absolute;
	right: 0;
	top: 5%;
}

#export_content div {
	width: 50%;
	height: 100%;
	margin: 0 auto;
}

#export_content div button {
	width: 30%;
    height: 12%;
    position: relative;
    font-size: 16px;
    margin-left: 35%;
}

#winner {
	height: 100%;
	width: 100%;
	border: 0;
	padding: 0;
	background: transparent;
	color: #000000;
	font-size: 16px;
}

#lb_winner {
	position: relative;
    font-size: 20px;
    display: block;
}